.badgeDiv{
    display: flex;
    align-items: center;
    margin: 2rem 1rem;
}
.notification{
    display: inline-block;
    position: relative;
}
.badge{
    position: absolute;
    font-size: 0.9rem;
    top: -15px;
    right: -5px;
    padding: 0.3rem 0.5rem;
    border-radius: 50%;
    background-color: var(--orange);
    color: black;
}